<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/addviewinfo.css' %}" type="text/css" />
		<title>添加景点</title>
	</head>
	<body>
		<div class = "topmoudle"> 
			<h1 class=p1>自助旅游系统</h1>

			{% if user.is_authenticated %}
			<form action="/logout" method="get">
				<p class=username>{{ user.username }}</p>
				<button class=p3 type="submit" style="background-color: #C0C0C0; color: #000000;">退出</button>
			</form>
			{% else %}
			<form action="/login" method="get">
				<button class=p2 type="submit" style="background-color: #C0C0C0; color: #000000;">登陆</button>
			</form>
			<form action="/regist" method="get">
            	<button class=p3 type="submit" style="background-color: #C0C0C0; color: #000000;">注册</button>
        	</form>
			{% endif %}
		</div>
		<div class = "middlemoudle">
			<div class="rectangle1">
				欢迎来到自助旅游系统
				<p class=p6>添加景点</p>
			</div>
				<div class="rectangle2">
					<form action="/addview/result" method="post">
						{% csrf_token %}
						<p class=p4>添加景点信息</p><br><br><br><br><br><br><br><br><br><br><br><br>
						<p class=p4>景点名称：</p><input type="text" name="name" style="width:20%; height:40px; line-height:10%;"><br><br><br><br>
						<p class=p4>景点地址：</p><input type="text" name="address" style="width:20%; height:40px; line-height:10%;"><br><br><br><br>
						<p class=p4>景点简介：</p><input type="text" name="intro" style="width:20%; height:40px; line-height:10%;"><br><br><br><br>
						<p class=p4>开放时间：</p><input type="text" name="time" style="width:20%; height:40px; line-height:10%;"><br><br><br><br>
						<p class=p4>门票价格：</p><input type="text" name="price" style="width:20%; height:40px; line-height:10%;"><br><br><br><br><br>
						<input type="submit" value="添加" style="width:6%; height:30px; line-height:6%;">
					</form>
					<p>{{ rlt }}</p>
				</div>
		</div>
		<div class = "buttommoudle"> </div>
	</body>
</html>
