<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/editview.css' %}" type="text/css" />
		<title>编辑景点</title>
	</head>
	<body>
		<div class = "topmoudle"> 
			<h1 class=p1>自助旅游系统</h1>

			{% if user.is_authenticated %}
			<form action="/logout" method="get">
				<p class=p2>{{ user.username }}</p>
				<button class=button2 type="submit">退出</button>				
			</form>
			{% else %}
			<form action="/login" method="get">
				<button class=button1 type="submit" >登陆</button>
			</form>
			<form action="/regist" method="get">
            	<button class=button2 type="submit" >注册</button>
        	</form>
			{% endif %}
		</div>
		<div class = "middlemoudle">
			<div class="rectangle1">
				欢迎来到自助旅游系统
				<p class=p6>编辑景点</p>
			</div>
				<div class="rectangle2">
					<form action="/view/edit/result" method="post">
						{% csrf_token %}
						<div style="position:absolute; left: 20%;">
							<p class=p5>景点编号:</p><br>
        					<textarea rows="1" cols="30" name="id" style="resize:none" readonly>{{ view.id }}</textarea><br>
        					<p class=p5>景点名称:</p><br>
        					<textarea rows="2" cols="30" name="name" style="resize:none">{{ view.name }}</textarea><br>
        					<p class=p5>地址:</p><br>
        					<textarea rows="2" cols="30" name="address" style="resize:none">{{ view.address }}</textarea><br>
        					<p class=p5>景点简介:</p><br>
        					<textarea rows="4" cols="30" name="intro" style="resize:none">{{ view.intro }}</textarea><br>
						</div>

        				<div style="position:absolute; left: 50%;">
							<p class=p5>开放时间:</p><br>
        					<textarea rows="2" cols="30" name="time" style="resize:none">{{ view.time }}</textarea><br>
        					<p class=p5>门票价格:</p><br>
        					<textarea rows="2" cols="30" name="price" style="resize:none">{{ view.price }}</textarea><br>
        					<input class="button" type="submit" value="提交" style="margin-top:5%;">
							<p>{{ rlt }}</p>
						</div>

					</form>
				</div>
		</div>
		<div class = "buttommoudle"> </div>
	</body>
</html>
