<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" />
		<title>自助旅游系统</title>
		
	</head>

	<body>
		<div class = "topmoudle"> 
			<h1 class=p1>自助旅游系统</h1>
			<!--调试快捷按钮-->
			<!--<form action="#" method="get">-->
				<!--<button class=code type="submit" style="background-color: #C0C0C0; color: #000000;">调试</button>-->
			<!--</form>-->
			<!--调试快捷按钮-->
			{% if user.is_authenticated %}
			<form action="/logout" method="get">
				<p class=username>{{ user.username }}</p>
				<button class=p3 type="submit" style="background-color: #C0C0C0; color: #000000;">退出</button>
			</form>
			{% else %}
			<form action="/login" method="get">
				<button class=button1 type="submit" >登录</button>
			</form>
			<form action="/regist" method="get">
            	<button class=button2 type="submit" >注册</button>
        	</form>
			{% endif %}
		</div>

		<div class = "middlemoudle">
			<div class="rectangle1">
				<h1 class=p4>欢迎来到自助旅游系统</h1>
			</div>
			{% if user.is_authenticated %}
			{% else %}
			<h3>更多精彩请</h3>
			
				<form action="/login" method="get">
					<button class=button type="submit">登录</button>
				</form>
			
			{% endif %}
		</div>
	
		<div class = "buttommoudle"> </div>
		
		
	</body>
</html>
