<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/routedetail.css' %}" type="text/css" />
		<link rel="SHORTCUT ICON" href="{% static "favicon.ico"%}">
		<title>路线详细信息</title>
	</head>
	<body>
		<div class = "topmoudle"> 
			{% load staticfiles %}
			<img src= "{% static "logo.jpg" %}"  alt="picture" align=left width="75" height="100%"/>

			{% if user.is_authenticated %}
			<form action="/logout" method="get">
				<p class=username style=" position:absolute;right:150px;top:5px;font-size:20px;font-weight:300;">{{ user.username }}公司</p>
				<div style="z-index:4"><button class=p3 type="submit"style="position: absolute;background:#339999;border-radius:5px;cursor: pointer;border: 3px solid #339999;top:8px;right: 10px;width: 100px;height: 55px;font-size: 20px;font-weight: 600;color: white;">退出</button></div>
			</form>
			{% else %}
			<form action="/login" method="get">
				<button class=p2 type="submit" style="position: absolute;background-color: white; color: black;border-radius:5px;border: 3px solid white; cursor:pointer;top:15px;right: 90px;font-size: 20px;font-weight: 600;">登陆</button>
			</form>
			<form action="/regist" method="get">
            	<button class=p3 type="submit" style="position: absolute;background-color: white; color: black;border-radius:5px;border: 3px solid white; cursor:pointer;top:15px;right: 20px;font-size: 20px;font-weight: 600;">注册</button>
        	</form>
			{% endif %}
		</div>
		<div class = "middlemoudle">
              <div class="rectangle1">
			    <div class="route">路线 {{route.route_num}}&emsp;&emsp;&emsp;&emsp;公司名：{{ route.company_name }}</div>
			   </div>


              <div class="rectangle2">
				  <div class="rectangle3">
					  <div class="span">
				     <form action="/route" method="post">
					{% csrf_token %}
					{% if route.stand_num == 1 %}

						<span style="color:black;text-align:left">景点1：{{ route.stand_1_name }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
						<span style="color:black;text-align:left">游览时间：{{ route.date_1 }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span ><br><br><br><br><br><br>
					{% endif %}
					{% if route.stand_num == 2 %}
						<span style="color:black;text-align:left">景点1：{{ route.stand_1_name }}</span>
						<span style="color:black;text-align:left">游览时间：{{ route.date_1 }}</span><br><br><br>
						<span style="color:black;text-align:left">景点2：{{ route.stand_2_name }}</span>
						<span style="color:black;text-align:left">游览时间：{{ route.date_2 }}</span><br><br><br><br><br><br>
					{% endif %}
					{% if route.stand_num == 3 %}
						<span style="color:black;text-align:left">景点1：{{ route.stand_1_name }}</span>
						<span style="color:black;text-align:left">游览时间：{{ route.date_1 }}</span><br><br><br>
						<span style="color:black;text-align:left">景点2：{{ route.stand_2_name }}</span>
						<span style="color:black;text-align:left">游览时间：{{ route.date_2 }}</span><br><br><br>
						<span style="color:black;text-align:left">景点3：{{ route.stand_3_name }}</span>
						<span style="color:black;text-align:left">游览时间：{{ route.date_3 }}</span><br><br><br><br><br><br>
					{% endif %}
					{% if route.stand_num == 4 %}
						<span style="color:black;text-align:left">景点1：{{ route.stand_1_name }}</span>
						<span style="color:black;text-align:left">游览时间：{{ route.date_1 }}</span><br><br><br>
						<span style="color:black;text-align:left">景点2：{{ route.stand_2_name }}</span>
						<span style="color:black;text-align:left">游览时间：{{ route.date_2 }}</span><br><br><br>
						<span style="color:black;text-align:left">景点3：{{ route.stand_3_name }}</span>
						<span style="color:black;text-align:left">游览时间：{{ route.date_3 }}</span><br><br><br>
						<span style="color:black;text-align:left">景点4：{{ route.stand_4_name }}</span>
						<span style="color:black;text-align:left">游览时间：{{ route.date_4 }}</span><br><br><br><br>
					{% endif %}
					<span>起始时间：{{ route.date_1 }}</span><br><br><br>
					<span>结束时间：{{ route.end }}</span><br><br><br>
					<span>价格：&emsp;&emsp;¥{{ route.price }}</span><br><br><br>


				</form>

				{% if user.is_company == True %}
					<p>预约情况</p>
					{% for ra in ra_list %}
						<p>{{ ra.tourist_name }}</p>
					{% endfor %}
				{% endif %}
					  </div>
				  </div>

			</div>


		<div class = "next">
			<form action="/route" method="post">
				{% csrf_token %}
				<input class="input1" type="submit" value="路线列表" >
			</form>

		</div>
	</body>
</html>
