<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/viewdetail.css' %}" type="text/css" />
		<title>景点信息</title>
	</head>
	<body>
		<div class = "topmoudle"> 
			<h1 class=p1>自助旅游系统</h1>

			{% if user.is_authenticated %}
			<form action="/logout" method="get">
				<p class=p2>{{ user.username }}</p>
				<button class=button2 type="submit" >退出</button>
			</form>
			{% else %}
			<form action="/login" method="get">
				<button class=button1 type="submit">登陆</button>
			</form>
			<form action="/regist" method="get">
            	<button class=button2 type="submit" >注册</button>
        	</form>
			{% endif %}
		</div>
		<div class = "middlemoudle">
			<div class="rectangle1">
				欢迎来到自助旅游系统
				<p class=p6>景点详细信息</p>
			</div>

			<div>
				<form action="/view" method="post">
					{% csrf_token %}
					<div class=rectangle2>
						<p class=p5>景点名称：</p><p class=p5>{{ view.name }}</p><br><br>
						<p class=p5>所在地址：</p><p class=p5>{{ view.address }}</p><br><br>
						<p class=p5>详情简介：</p><p class=p5>{{ view.intro }}</p><br><br>
						<p class=p5>开放时间：</p><p class=p5>{{ view.time }}</p><br><br>
						<p class=p5>门票价格：¥</p><p class=p5>{{ view.price }}</p><br><br>						
					</div>

					<input class="button" type="submit" value="返回景点列表" >
				</form>
				<div class=rectangle2>
					<p>{{ rlt }}</p>
					{% if user.is_adminis == True %}
						<p class=p5>预约情况</p>
						<p class=p5>日期&emsp;&emsp;预计人数</p><br>
						{% for va in va_list %}
							<p>{{ va.date }}&emsp;&emsp;{{ va.person_num }}</p>
						{% endfor %}
					{% endif %}
				</div>
				
			</div>
		</div>
		<div class = "buttommoudle"></div>
	</body>
</html>
