html{
	height:100%;
}

body{
	margin: 0;
	height: 100%;
	background-color:white;
}

.topmoudle{
	margin:0;
	top:0;
	width:100%;
	height:9.5%;
	background-color: white;
	opacity:1;
	border-bottom-style:solid;
	border-bottom-width:1px;
	z-index: 3;
}

.middlemoudle{
	margin: 1% 1% 1% 1%;
	padding:0;
	height:75%;
	width:98%;
	background-color: white;
	border-color:white;
	opacity:0.6;
	z-index：2

}

.buttommoudle{
	margin-top:10%;
	height:10%;
	width:50%;
	background-color: white;
	opacity:0.8;
	z-index:0;
}
.span{
	color:black;
	text-align:left;
	display:inline;
}



.rectangle1{

	padding-top:2%;
	background-color:white;
	height: 15%;
	width: 100%;
	color:white;
   height:10%;

}

.route{
	padding-top:1.5%;
	height: 100%;
	width: 100%;
	font-size:200%;
	font-weight:700;
	color:black;
	text-align: left;
	text-indent:200px;
}
.rectangle2{
	margin-top:2%;
	margin-left:15%;
	font-weight:700;
	color:#E0AD61;
	line-height:10px;

}
.rectangle3{
	margin-top:3%;
	margin-left:5%;
	font-weight:700;
	color:#E0AD61;
	line-height:10px;
}


.input1{
 background:#E0AD61;
 border-radius:5px;
 cursor: pointer;
 box-shadow: 10px 10px 25px#ccc;
 border: 3px solid #E0AD61;
 top:50px;
 width: 100px;
 height: 50px;
 font-size: 20px;
 font-weight: 600;
}