html{
	height:100%;
}

body{
	margin: 0;
	height: 100%;
	background-color:#F2F0F0;
}

.topmoudle{
	margin:0;
	width:100%;
	height:10%;
	background-color: black;
	opacity:0.8;
}

.middlemoudle{
	margin: 1% 1% 1% 1%;
	height:81%;
	width:98%;
	background-color: white;
	border-style:inset;
	border-color:#D9D9D9;
	opacity:0.8;
	text-align: center;
}

.buttommoudle{
	margin-up:85%;
	height:5%;
	width:100%;
	background-color: black;
	opacity:0.8;
}

.p1{
	margin:0;
	padding-top:1%;
	padding-left:1%;
	color:#fff;
	font-weight:700;		/*字体加粗*/
}

.p2{
	position:absolute;
	left: 80%;
	top: 2.5%;
	font-weight:300;		/*字体粗细*/
	color:#fff;
}

.username{
	position:absolute;
	left: 80%;
	top: 1%;
	font-weight:300;		/*字体粗细*/
	color:#fff;
}

.p3{
	position:absolute;
	left: 85%;
	top: 2.5%;
	font-weight:300;		/*字体粗细*/
	color:#fff;
}

.rectangle1{
    margin: 5% 30% 0%;
	height:44%;
	width:40%;
	color: red;
	font-weight:700;
	background-color: #E9B973;
	opacity:0.5;
	border-radius:10px;
	text-align: center;
}

.p4{
	position:absolute;
	top:35%;
	left:40%;
	font-weight:700;		/*字体加粗*/
}

.rectangle2{
	margin: 1% 45% 0%;
	padding:10px 0; 
	height:11%;
	width:10%;
	color:red;
	background-color: #E9B973;
	opacity:0.5;
	border-radius:10px;
	text-align: center;
}

