html{
	height:100%;
}

body{
	margin: 0;
	height: 100%;
	background-color:#F2F0F0;
}

.topmoudle{
	margin:0;
	width:100%;
	height:10%;
	background-color: black;
	opacity:0.8;
}

.middlemoudle{
	margin: 1% 1% 1% 1%;
	padding:0;
	height:81%;
	width:98%;
	background-color: #fff;
	border-style:inset;
	border-color:#D9D9D9;
	opacity:0.6;
	overflow:auto;
}

.buttommoudle{
	margin-up:85%;
	height:5%;
	width:100%;
	background-color: black;
	opacity:0.8;
}

.p1{
	margin:0;
	padding-top:1%;
	padding-left:1%;
	color:#fff;
	font-weight:700;		/*字体加粗*/
}

.p2{
	position:absolute;
	left: 75%;
	top: 0.5%;
	font-size:150%;
	font-weight:500;		/*字体粗细*/
	color:#fff;
	text-decoration:underline;
}

.rectangle1{
	margin:0;
	padding-top:1%;
	opacity:0.8;
	background-color:#E0AD61;
	height: 10%;
	width: 100%;
	font-size:250%;
	font-weight:700;
	color:white;
	text-align: center;
}

.rectangle2{
	margin-top:1%;
	font-weight:700;
	color:#E0AD61;
	line-height:5px;
}

.rectangle3{
	margin-left:10%;
	font-weight:700;
	color:#E0AD61;
	line-height:10px;
}

.rectangle4{
	
}

.p4{
	font-size:200%;
	font-weight:700;		/*字体粗细*/
	color:#E0AD61;
	float:left;
}

.p5{
	font-size:150%;
	font-weight:700;		/*字体粗细*/
	color:#E0AD61;
	float:left;
}
.p6{
	font-size:60%;
	font-weight:300;
	position:absolute;
	top:15%;
	right:20%;
	
}

.search{
	margin-left:10%;
}

.add{
	margin-left:10%;
}

.username{
	position:absolute;
	left: 80%;
	top: 1%;
	font-weight:300;		/*字体粗细*/
	color:#fff;
}

.button {
	margin:2% 0 5% 0;
	padding: 5px 10px;
    background-color: #E9B973; 
	font-weight:700;
	font-size:100%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius:10px;
	opacity:0.8;
}

.button1 {
	position:absolute;
	left: 80%;
	top: 3.5%;
	background-color: black; 
	font-weight:700;
	font-size:120%;
	border: none;
	color: white;
	text-align: center;
	border-radius:10px;
}

.button2 {
	position:absolute;
	left: 85%;
	top: 3.5%;
	background-color: black; 
	font-weight:700;
	font-size:120%;
	border: none;
	color: white;
	text-align: center;
	border-radius:10px;
}

.button3 {
	margin:2% 0 5% 0;
	padding: 5px 10px;
    background-color: #E9B973; 
	font-weight:700;
	font-size:150%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius:10px;
	opacity:0.8;
}

 table.gridtable {
        border-width: 0.5px;
        padding: 8px;
        border-style:inset;
        border-color: #666666;
        background-color: white;
      }