<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>旅游网站自助系统</title>
</head>
<body>
    <h1>旅游网站自助系统 1.0</h1>
    <div>
        <form action="/login" method="get">
            <button type="submit">登录</button>
        </form>
        <form action="/regist_1" method="get">
            <button type="submit">注册</button>
        </form>
        <form action="/add_viewspot" method="get">
            <button type="submit">添加景点</button>
        </form>
        <form action="/viewspot" method="get">
            <button type="submit">查询景点</button>
        </form>
    </div>
</body>
</html>