<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司注册</title>
</head>
<body>
    <h1>公司注册</h1>
    <form action="/regist_company" method="post">
        {% csrf_token %}
        用户名&emsp;&emsp;<input type="text" name="user_name"><br>
        公司名称&emsp;<input type="text" name="company_name"><br>
        密码&emsp;&emsp;&emsp;<input type="password" name="password"><br>
        联系方式&emsp;<input type="text" name="phone"><br>
        <input type="submit" value="注册">
    </form>
    <p>{{ rlt }}</p>
</body>
</html>